Code/SFML/*
Code/electris.o
Code/Makefile
Code/openal32.dll
Code/sfml-audio-2.dll
Code/sfml-audio-d-2.dll
Code/sfml-graphics-2.dll
Code/sfml-graphics-d-2.dll
Code/sfml-network-2.dll
Code/sfml-network-d-2.dll
Code/sfml-system-2.dll
Code/sfml-system-d-2.dll
Code/sfml-window-2.dll
Code/sfml-window-d-2.dll
Code/testing_shell.o
Code/Electris.exe
Code/.vscode/settings.json
Code/.vscode/launch.json
Code/.vscode/settings.json
Code/.vscode/tasks.json
